/ '/client/app/pages/pages.html.haml'
%div{layout: "vertical", "layout-fill": true}
  %md-content.layout-fill
    %header
      %acme-navbar{'creation-date': "projects.creationDate"}
    %section.jumbotron
      %h1 Projects
    .techs
      %md-card{"ng-repeat": "_project in projects.allProjects"}
        %md-card-content
          %h3.md-title {{_project.projectTitle}}
        .md-action-buttons
          %md-button{'ng-href': decodeURI('%7b%7b'+'_project.projectHandle'+'%7d%7d')} Visit
